Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3808,
        -512
      ],
      "id": "e76db320-692e-4d1c-bcd9-4c6016cbe682",
      "name": "Telegram Trigger",
      "webhookId": "473a8821-8619-4a1f-8e1b-c25dbc06527e",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## /start || hola",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -1296
      ],
      "typeVersion": 1,
      "id": "d013db55-eb9e-4740-bf0f-2a59342afe10",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de0cb4cc-27a8-4ea0-88e9-e53bde904785"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start-command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d71f64-d0ab-47e1-8f07-145d9af2996e",
                    "leftValue": "={{ ( $('Telegram Trigger').item.json?.message?.text ?? '' )\n    .toString()\n    .trim()\n    .toLowerCase() }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hola"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5df9ac9d-c6e1-4929-9e43-7363443652bf",
                    "leftValue": "={{ ($('Telegram Trigger').item.json.message?.text || '').toString().trim().toLowerCase() }}",
                    "rightValue": "^ver productos( disponibles)?$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ver productos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "953b18e8-e68c-4d91-b131-ea94ee913223",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfdfc08f-c1b7-428f-a5df-0e47b99b3be6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3136,
        -544
      ],
      "id": "110032de-2533-4bb3-96b6-84c8f4f7e3c3",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Hola, soy BioCanastoChatBot 🧺🌱!\nPide frutas y verduras frescas 🍎🥦, paga seguro y recibe hoy en casa. Usamos fundas y cajas biodegradables para cuidar el planeta 🌎💚.\n\nCómo funciona\n\n1.- Pregunta disponibilidad: “¿Qué frutas y verduras tienen hoy?”\n\n2.- Elige cantidades: por libras, o por unidades.\n\n3.- Confirma tu pedido y dinos a desde banco vas a transferir:\nPichincha, Guayaquil, Pacífico.\n\nNota: no se aceptan otros bancos.\n\nSube el comprobante (captura) con el número de transacción.\n\nEjemplo rápido:\n\n“Quiero 2 manzanas, 1 de espinaca y 6 plátanos.”\n\nNuestro agente clasificara las unidades y libras por ti\n\n\"Quiero Finalizar Pedido\"\n\nFinalmente\n“Adjunto comprobante: TRX-123456. con la captura”\n\n¿List@ para comenzar? Escribe “Ver productos disponibles” y armamos tu canasta 🍌🥬🧺.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -1248
      ],
      "id": "db9ecaac-0366-498e-91e4-0a6e41ae8062",
      "name": "reply /start",
      "webhookId": "65b431c4-1ab6-442e-aee8-2bca6e55008c",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat Action",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        -592
      ],
      "typeVersion": 1,
      "id": "fe051260-a567-446a-8751-4594b0a44c66",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -896,
        -512
      ],
      "id": "8ab0bf45-8423-4469-ad6d-0d6f6727c059",
      "name": "chatAction",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"type\": \"message\",\n  \"ai\": \"\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        -512
      ],
      "id": "8dcb3f1e-c091-4f05-9740-bf1b28bcc3ff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  text: $input.first().json.text,\n  type: $input.first().json.type,\n  ai: $input.first().json.ai\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -512
      ],
      "id": "4ff5e33b-bc3e-4896-a388-e89e12c78078",
      "name": "Unir datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Rol:\nActúas como vendedor de frutas y verduras frescas para delivery. Tono cercano y amable. Moneda: USD. Enfatiza siempre empaques biodegradables y cero plásticos. Prohibido usar emojis.\n\nHerramientas obligatorias:\n\nproductosDisponibles: consulta el catálogo y existencias.\n\nsendMessageToClient: única forma válida de responder al cliente (todas las salidas deben usar esta herramienta).\n\nEsquema de datos de productosDisponibles (usar estrictamente estas columnas):\n\nexternal_code: identificador público del ítem. Úsalo para agregar/quitar en el carrito y en confirmaciones.\n\nproduct_name: nombre comercial del alimento.\n\ndescription: detalle breve (variedad, tamaño, origen, etc.).\n\nprice: precio unitario en USD.\n\navailable_quantity: stock disponible (numérico).\n\nproduct_kind_name: tipo de alimento; valores esperados: Vegetales o Frutas.\n\nsale_type_name: tipo de venta; valores esperados: Libras o Unidad.\n\nunit_label: etiqueta corta de unidad para mostrar al cliente; valores típicos: lb o c/u.\n\nReglas de uso de herramientas:\n\nNunca inventes datos.\n\nCuando el cliente escriba “Ver productos disponibles”, “Ver catálogo” o variantes, SIEMPRE llama a productosDisponibles y muestra todo lo retornado sin acortar la lista.\n\nAntes de recomendar cantidades, armar carrito, confirmar pedido o calcular total, verifica stock llamando a productosDisponibles si no hay datos vigentes.\n\nTodas las respuestas al cliente deben enviarse vía sendMessageToClient.\n\nCómo mostrar el catálogo (formato sugerido por ítem):\n\nPrecio: USD price (unit_label) | Stock: available_quantity\n\nNo resumas ni cortes. Muestra todos los ítems devueltos.\n\nCarrito y cálculos:\n\nAl agregar ítems, exige o infiere cantidad en función de sale_type_name:\n\nSi sale_type_name = Libras → cantidades decimales permitidas (ej. 1.5).\n\nSi sale_type_name = Unidad → cantidades enteras.\n\nValida contra available_quantity. Si excede, sugiere el máximo disponible.\n\nSubtotal por ítem = price * cantidad. Total = suma de subtotales.\n\nFormatea siempre precios en USD con dos decimales.\n\nTareas principales:\n\nRecomendar cantidades adecuadas según personas/uso semanal.\n\nArmar y editar carrito: agregar/quitar/cambiar, mostrar subtotales y total.\n\nConfirmar pedido: resumen claro con [external_code] product_name, cantidad con unit_label, precio, total.\n\nPago: pedir captura/foto del pago de los bancos Pichincha, Pacífico o Guayaquil. Aclara que cualquier otro comprobante será rechazado.\n\nUbicación: después de pedir el pago, solicitar ubicación exacta o enlace de Google Maps.\n\nRecordar empaques biodegradables y cero plásticos en el cierre.\n\nEstilo y redacción:\n\nUsa términos frutas, verduras, o el nombre del alimento (evita “productos”).\n\nClaro, breve y conversacional. Sin emojis.\n\nFlujo conversacional recomendado:\n\nSaludo breve y propuesta de ayuda.\n\nSi piden ver catálogo → productosDisponibles → listar todo sin cortar usando el formato indicado.\n\nSondeo: comidas previstas, número de personas, preferencias → recomendar cantidades.\n\nCarrito: agregar/quitar/actualizar → mostrar subtotal y total (USD).\n\nConfirmación: resumen final + total.\n\nPago: solicitar captura de transferencia (Pichincha/Pacífico/Guayaquil) y advertir rechazo de otros comprobantes.\n\nUbicación: pedir dirección exacta o link de Google Maps.\n\nCierre: tiempo estimado y recordatorio de empaques biodegradables y cero plásticos.\n\nComandos/Intenciones a reconocer:\n\nVer catálogo/lista completa → productosDisponibles y mostrar todo con el formato.\n\nAgregar/quitar/cambiar + [external_code] o product_name + cantidad.\n\nRecomendaciones por número de personas/semana.\n\nConfirmar pedido → resumen y total.\n\nPagar/comprobante → pedir captura de bancos válidos.\n\nUbicación/enviar dirección → pedir dirección o link de Maps.\n\nCancelar → vaciar carrito y confirmar.\n\nAyuda → explicar brevemente cómo pedir.\n\nValidaciones clave:\n\nBanco distinto a Pichincha/Pacífico/Guayaquil → rechazar y reiterar política.\n\nÍtem no presente en la respuesta de productosDisponibles → informar no disponible y sugerir alternativas del catálogo vigente.\n\nRecalcular total si cambian cantidades.\n\nPrecios siempre en USD con dos decimales.\n\nFormato de salida:\n\nSiempre responde usando sendMessageToClient.\n\nAl listar el catálogo, no resumas ni cortes: muestra todo lo devuelto por productosDisponibles.\n\nNo incluyas trazas técnicas; solo contenido conversacional para el cliente.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -512
      ],
      "id": "3fcd8309-09ca-4f94-9d18-fe0d2e609229",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        -288
      ],
      "id": "6f1bf61d-eed0-407d-b1a0-ed9132dc9151",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        -288
      ],
      "id": "33e003bd-3cd9-49f3-b71e-aed470115b28",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -512
      ],
      "id": "dacc1f4c-1c29-4d3f-896d-85e5984e9e35",
      "name": "Send a text message",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envio de Imagen \n",
        "height": 272,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3040,
        -16
      ],
      "typeVersion": 1,
      "id": "514593b9-bc1a-4973-abdc-09bcf16a4e0e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2912,
        96
      ],
      "id": "a02df054-41fa-4729-a977-066ec736eaf9",
      "name": "writing",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Telegram Trigger').first().json.message.photo[3] || $('Telegram Trigger').first().json.message.photo[2] || $('Telegram Trigger').first().json.message.photo[1] || $('Telegram Trigger').first().json.message.photo[0]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        96
      ],
      "id": "9a421268-5748-4542-843e-a528f11e3956",
      "name": "foto con mayor resolucion"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2464,
        96
      ],
      "id": "a77283e1-1ca3-4f00-b671-ac15e56ee62b",
      "name": "Get a file",
      "webhookId": "fac3f1d1-bcc5-4380-88a1-c442ba26d223",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Eres un validador de comprobantes bancarios ecuatorianos. Analiza la imagen adjunta y:\n\nClasifica el banco solo entre estas opciones (IDs fijos):\n\n2 Banco Pichincha (acepta también “Banco Pichicha” como sinónimo tipográfico de Pichincha)\n\n3 Banco del Pacifico\n\n4 Banco Guayaquil\n\n1 No Identificado (cualquier otro caso o si hay ambigüedad)\n\nExtrae campos del comprobante si pertenecen con claridad a una de las opciones 2, 3 o 4.\n\namount (texto tal como aparece, incluyendo símbolo y separadores)\n\namount_value (número normalizado en formato decimal punto, sin símbolos, ej. 5000.75)\n\ndate_text (tal como aparece en el comprobante)\n\ndate_iso (fecha normalizada YYYY-MM-DD; interpreta meses en español: ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic)\n\norigin_account (número de cuenta de origen; si está enmascarado, devuelve exactamente lo visible, p. ej. ****9100)\n\nReglas de decisión\n\nSi el texto o logotipo indican inequívocamente un único banco, usa su id.\n\nTrata “Banco Pichicha”, “Pichicha”, “BPichicha” como Banco Pichincha (id=2).\n\nSi hay varios bancos o no es comprobante/borroso/ambiguo → bank_id = 1 y los demás campos vacíos.\n\nSi no encuentras un campo requerido, deja cadena vacía \"\".\n\nNormalización de monto\n\nAcepta $ 5.00, $5,000.75, USD 120,50, etc.\n\nConvierte a amount_value usando punto como separador decimal y sin millares (ej.: 5.00, 5000.75, 120.50).\n\nSi no es posible, deja amount_value vacío.\n\nSalida (estricta, una sola línea JSON)\nResponde solo con este JSON, sin texto adicional:\n\n{\n  \"bank_id\": <1|2|3|4>,\n  \"bank_name\": \"<Banco Pichincha|Banco del Pacifico|Banco Guayaquil|No Identificado>\",\n  \"amount\": \"<texto>\",\n  \"amount_value\": \"<decimal o ''>\",\n  \"date_text\": \"<texto>\",\n  \"date_iso\": \"<YYYY-MM-DD o ''>\",\n  \"origin_account\": \"<texto o ''>\"\n}\n\nEjemplos esperados\n\nSi ves “BANCO PICHINCHA” o “BANCO PICHICHA” y los datos:\n\n{\"bank_id\": 2, \"bank_name\": \"Banco Pichincha\", \"amount\": \"$ 5.00\", \"amount_value\": \"5.00\", \"date_text\": \"27 oct 2025\", \"date_iso\": \"2025-10-27\", \"origin_account\": \"2202497584\"}\n\n\nSi no corresponde a ninguno o es ambiguo:\n\n{\"bank_id\": 1, \"bank_name\": \"No Identificado\", \"amount\": \"\", \"amount_value\": \"\", \"date_text\": \"\", \"date_iso\": \"\", \"origin_account\": \"\"}\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2240,
        96
      ],
      "id": "9585f58a-0298-4b0c-8346-d5e8924978c7",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        64
      ],
      "id": "c92e8f97-1e39-4ce0-a792-ec87fee59e30",
      "name": "Send a text after image",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3584,
        -512
      ],
      "id": "f5e6f71b-42a7-4827-9bb6-cc3c8c917fce",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL chat.save_user_message(\n    {{ $('Telegram Trigger').item.json.message.from.id }},\n    '{{ $('Telegram Trigger').item.json.message.from.first_name }}',\n    '{{ $('Telegram Trigger').item.json.message.from.last_name }}',\n    '{{ $('Telegram Trigger').item.json.message.from.username }}',\n    '{{ $('Telegram Trigger').item.json.message.from.language_code }}',\n    {{ $('Telegram Trigger').item.json.message.chat.id }},\n    {{ $('Telegram Trigger').item.json.message.message_id }},\n    '{{ $('Date & Time').item.json.currentDate }}',\n    '{{ $('Telegram Trigger').item.json.message.text }}',\n    '{{ JSON.stringify($('Telegram Trigger').item.json.message) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -512
      ],
      "id": "53a0d115-017e-4073-92f0-c10488d32f40",
      "name": "Call chat.save_user_message",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "filesUpload",
        "fields": "fecha_subida, nombre, tamano, tipo",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1344,
        240
      ],
      "id": "31b8c174-8d7b-403b-b3cd-f8c73fd38824",
      "name": "guardarComprobante",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "tiYYV2a8yuCMvT8p",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78b47e13-eb38-4dff-9e75-ad2deb99d42e",
              "name": "fecha_subida",
              "value": "={{ $('Date & Time').item.json.currentDate }}",
              "type": "string"
            },
            {
              "id": "ba82b18a-ad23-4ad9-b6db-80eb07760321",
              "name": "nombre",
              "value": "={{ 'message-id-' + $('Telegram Trigger').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "93ed637a-725c-4792-a347-a49beed08052",
              "name": "tamano",
              "value": "={{ +($json.result?.file_size ?? 0) }}",
              "type": "string"
            },
            {
              "id": "b9490b63-19be-4a01-8c9b-8ec270a320ee",
              "name": "tipo",
              "value": "jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        240
      ],
      "id": "642dca46-1cf0-4750-afeb-9db77703fa15",
      "name": "editarCamposImagen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL chat.save_bot_response(\n    {{ $('Telegram Trigger').item.json.message.from.id }},\n    '{{ $json.result.chat.first_name }}',\n    '{{ $json.result.chat.last_name }}',\n    '{{ $json.result.chat.username }}',\n    {{ $json.result.from.id }},\n    '{{ $json.result.from.first_name }}',\n    NULL,\n    '{{ $json.result.from.username }}',\n    {{ $('Telegram Trigger').item.json.message.chat.id }},\n    {{ $json.result.message_id }},\n    {{ $('Telegram Trigger').item.json.message.message_id }},\n    '{{ $('Date & Time').item.json.currentDate }}',\n    '{{ $json.result.text }}',\n    '{{ JSON.stringify($json.result) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        -512
      ],
      "id": "9a00d8dc-1b35-447a-a38b-d64bd8ba40be",
      "name": "Call chat.save_bot_response",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const content = (item.json?.content ?? '').toString();\n\n  // 1) Intenta capturar JSON dentro de bloque ```json ... ```\n  const fenced = content.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  let jsonText = fenced ? fenced[1] : content;\n\n  // 2) Parse robusto\n  let parsed;\n  try {\n    parsed = JSON.parse(jsonText);\n  } catch {\n    // fallback: busca el primer {...} dentro del texto\n    const m = jsonText.match(/\\{[\\s\\S]*\\}/);\n    parsed = m ? JSON.parse(m[0]) : {};\n  }\n\n  // 3) Normaliza/asegura campos\n  const normalized = {\n    bank_id: parsed.bank_id != null ? Number(parsed.bank_id) : null,\n    bank_name: parsed.bank_name ?? '',\n    amount: parsed.amount ?? '',\n    amount_value: parsed.amount_value ?? '',\n    date_text: parsed.date_text ?? '',\n    date_iso: parsed.date_iso ?? '',\n    origin_account: parsed.origin_account ?? '',\n  };\n\n  out.push({ json: normalized });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        96
      ],
      "id": "9d5e1bb8-a101-4a8f-be8e-97a7af95b6d0",
      "name": "formateaJsonTransaction"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "chat",
          "mode": "list",
          "cachedResultName": "chat"
        },
        "table": {
          "__rl": true,
          "value": "vounchers",
          "mode": "list",
          "cachedResultName": "vounchers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ Number($json.id) }}",
            "bank_id": "={{ $json.bank_update_id }}",
            "amount": "={{ Number($json.amount_value) }}",
            "vouncher_date": "={{ $json.date_iso }}",
            "origin_account": "={{ $json.origin_account_update }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bank_id",
              "displayName": "bank_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vouncher_number",
              "displayName": "vouncher_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vouncher_date",
              "displayName": "vouncher_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin_account",
              "displayName": "origin_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        176
      ],
      "id": "fa67646f-19b8-42bc-80f0-94418ef27ce9",
      "name": "updateVouncher",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "chat",
          "mode": "list",
          "cachedResultName": "chat"
        },
        "table": {
          "__rl": true,
          "value": "vounchers",
          "mode": "list",
          "cachedResultName": "vounchers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.id }}",
            "uuid": "={{ $('guardarComprobante').item.json._id }}",
            "vouncher_date": "={{ $('Date & Time').item.json.currentDate }}",
            "bank_id": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "bank_id",
              "displayName": "bank_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vouncher_number",
              "displayName": "vouncher_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vouncher_date",
              "displayName": "vouncher_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin_account",
              "displayName": "origin_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        240
      ],
      "id": "871205f7-1c1c-4c21-8686-5621c1b564ef",
      "name": "insertarVouncher",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "chat",
          "mode": "list",
          "cachedResultName": "chat"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telegram_message_id",
              "value": "={{ $('Telegram Trigger').item.json.message.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        240
      ],
      "id": "eeae903e-6331-42fc-8ed7-6186f2246390",
      "name": "selectMessagesById",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0098c4c-6652-446f-a671-666806c3bbf7",
              "leftValue": "={{ $json.bank_id }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "1b7bddc1-42f7-4d09-aac4-85e571b60577",
              "leftValue": "={{ $json.bank_id }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        96
      ],
      "id": "c14e3d30-232b-419b-b1ee-85193a5f6331",
      "name": "If BancoValidado"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -672,
        176
      ],
      "id": "5b13f7de-a6e4-4fed-97e3-37fb9433ffd3",
      "name": "mergeVoucherData"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Responde Satisfactoriamente que su pedido va a ser validado"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -224,
        176
      ],
      "id": "d86898ac-75c7-4a93-8ae0-6d3db4cbe151",
      "name": "transferenciaConfirmada",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Solo indicar que debe subir un comprobannte valido en 2 intentos fallidos su cuenta sera bloqueada, cualquier otra respuesta no esta permitida"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -224,
        -48
      ],
      "id": "be7646b6-729a-44d6-a1ca-8b4d80a1ead5",
      "name": "transacionNegada",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "catalog",
          "mode": "list",
          "cachedResultName": "catalog"
        },
        "table": {
          "__rl": true,
          "value": "available_product_catalog",
          "mode": "list",
          "cachedResultName": "available_product_catalog"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -32,
        -256
      ],
      "id": "4e16dac6-b78b-45cf-8ad2-213e6c99aecc",
      "name": "productosDisponibles",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const src = (items[0].json.output || '').toString();\nconst MAX = 3800; // un poco menos por etiquetas <pre>\n\nfunction chunkByNewline(text, size) {\n  const parts = [];\n  let start = 0;\n  while (start < text.length) {\n    let end = Math.min(start + size, text.length);\n    if (end < text.length) {\n      const cut = text.lastIndexOf('\\n', end);\n      if (cut > start + Math.floor(size * 0.5)) end = cut;\n    }\n    parts.push(text.slice(start, end).trim());\n    start = end;\n  }\n  return parts.filter(p => p.length > 0);\n}\n\nreturn chunkByNewline(src, MAX).map(t => ({\n  json: { text: `${t}` }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -512
      ],
      "id": "9053d7a6-3de7-48e8-803a-e3e4c6f3e869",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        -752
      ],
      "id": "60b9b359-09b3-4e3b-925e-35a3bb979657",
      "name": "writing Ver Productos",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Tenemos estos productos disponibles: Verduras Frutas",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -736
      ],
      "id": "89a79047-ca45-4291-9308-9acfb87d739f",
      "name": "reply / ver productos",
      "webhookId": "65b431c4-1ab6-442e-aee8-2bca6e55008c",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing Ver Productos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatAction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatAction": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Unir datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing": {
      "main": [
        [
          {
            "node": "foto con mayor resolucion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foto con mayor resolucion": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "formateaJsonTransaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Call chat.save_user_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply /start": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text after image": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call chat.save_user_message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "editarCamposImagen": {
      "main": [
        [
          {
            "node": "guardarComprobante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardarComprobante": {
      "main": [
        [
          {
            "node": "selectMessagesById",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formateaJsonTransaction": {
      "main": [
        [
          {
            "node": "If BancoValidado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insertarVouncher": {
      "main": [
        [
          {
            "node": "mergeVoucherData",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "selectMessagesById": {
      "main": [
        [
          {
            "node": "insertarVouncher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateVouncher": {
      "main": [
        [
          {
            "node": "transferenciaConfirmada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If BancoValidado": {
      "main": [
        [
          {
            "node": "editarCamposImagen",
            "type": "main",
            "index": 0
          },
          {
            "node": "mergeVoucherData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transacionNegada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mergeVoucherData": {
      "main": [
        [
          {
            "node": "updateVouncher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transferenciaConfirmada": {
      "main": [
        [
          {
            "node": "Send a text after image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transacionNegada": {
      "main": [
        [
          {
            "node": "Send a text after image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "productosDisponibles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing Ver Productos": {
      "main": [
        [
          {
            "node": "reply / ver productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply / ver productos": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ecd8fba-fcdc-45e5-be64-bf5755fd067a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36c64b13bbb7748bd9d1fa29e9a2d15f3b8329608b51a4e86db824070316d3e"
  },
  "id": "KwRjwUvUOpA0mEb7",
  "tags": []
}