Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1552,
        -256
      ],
      "id": "09e936bc-be84-4825-899b-1b5691e35240",
      "name": "Telegram Trigger",
      "webhookId": "473a8821-8619-4a1f-8e1b-c25dbc06527e",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## /start || hola",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -544
      ],
      "typeVersion": 1,
      "id": "f15d276b-181b-498c-b35a-7716621ead35",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de0cb4cc-27a8-4ea0-88e9-e53bde904785"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start-command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d71f64-d0ab-47e1-8f07-145d9af2996e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hola"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "953b18e8-e68c-4d91-b131-ea94ee913223",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfdfc08f-c1b7-428f-a5df-0e47b99b3be6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -880,
        -288
      ],
      "id": "d4dabfe5-8f25-49f5-b784-5a1c9a22d1db",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Hola, soy BioCanastoChatBot 🧺🌱!\nPide frutas y verduras frescas 🍎🥦, paga seguro y recibe hoy en casa. Usamos fundas y cajas biodegradables para cuidar el planeta 🌎💚.\n\nCómo funciona\n\nPregunta disponibilidad: “¿Qué frutas y verduras tienen hoy?”\n\nElige cantidades: por kg, 1/2 kg o por unidades.\n\nConfirma tu pedido y dinos a qué banco vas a transferir:\nPichincha, Guayaquil, Pacífico o Cooperativa JEP.\n\nNota: no se aceptan otros bancos.\n\nSube el comprobante (captura) con el número de transacción.\n\nEjemplo rápido\n\n“Quiero 2 kg de manzana, 1/2 kg de espinaca y 6 plátanos.”\n\n“Transferiré a Banco Pichincha.”\n\n“Adjunto comprobante: TRX-123456.”\n\n¿List@ para comenzar? Escribe “Ver disponibles” y armamos tu canasta 🍌🥬🧺.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -496
      ],
      "id": "a58577db-1dd6-4e66-a8f9-2edcc9ec825b",
      "name": "reply /start",
      "webhookId": "65b431c4-1ab6-442e-aee8-2bca6e55008c",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat Action",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -320
      ],
      "typeVersion": 1,
      "id": "9116641b-787e-4281-b24f-92f2fd469a6c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        -256
      ],
      "id": "382644a8-dc28-43e9-98ae-accacd328136",
      "name": "chatAction",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"type\": \"message\",\n  \"ai\": \"\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -256
      ],
      "id": "43a4ce00-59fc-479c-8697-c4a4ea5ef29b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  text: $input.first().json.text,\n  type: $input.first().json.type,\n  ai: $input.first().json.ai\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -256
      ],
      "id": "183fdbe9-c62b-4fac-8f13-755cbaa3981d",
      "name": "Unir datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Actúa como vendedor de frutas y verduras frescas para delivery. Tono cercano, respuestas breves, sin inventar datos. Tareas: mostrar catálogo, recomendar cantidades, armar carrito, calcular total, pedir dirección/horario/pago, confirmar pedido. Enfatiza empaques biodegradables y cero plásticos. Maneja faltantes con sustitutos. Moneda {{CURRENCY}}.\nUtiliza la herramienta sendMessageToClient para responder todos los mensajes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        -352
      ],
      "id": "e2c2790d-6cea-4eb7-b50a-f94be716b7f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        -144
      ],
      "id": "2ec3d1cf-dd84-415e-b6bb-59d627978401",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        -144
      ],
      "id": "443db60a-3a9e-4445-ab5c-dd80a69caaca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -256
      ],
      "id": "06eee923-3a05-403c-8099-066e19d6c503",
      "name": "Send a text message",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envio de Imagen \n",
        "height": 272,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        0
      ],
      "typeVersion": 1,
      "id": "500a4a1b-700e-4a0e-9016-b84392c7a279",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        48
      ],
      "id": "8cd73ba6-8c14-4b75-860c-06cedde0fba6",
      "name": "writing",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Telegram Trigger').first().json.message.photo[3] || $('Telegram Trigger').first().json.message.photo[2] || $('Telegram Trigger').first().json.message.photo[1] || $('Telegram Trigger').first().json.message.photo[0]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        48
      ],
      "id": "b591df1c-4545-4be1-b2f3-9fd3d954a8c7",
      "name": "foto con mayor resolucion"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        48
      ],
      "id": "c97575aa-231e-4d2f-85b5-8cd83e6afefb",
      "name": "Get a file",
      "webhookId": "fac3f1d1-bcc5-4380-88a1-c442ba26d223",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "={{ $('Telegram Trigger').item.json.message.caption || 'Que hay en la imagen?' }}\n\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        96,
        48
      ],
      "id": "8fd55e9b-019e-4bb9-87b1-dc1e549b51aa",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        48
      ],
      "id": "ca73531a-adb3-42df-a807-14ed4dc87ac6",
      "name": "Send a text after image",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1328,
        -256
      ],
      "id": "872b5366-7aca-40c7-93f1-926619b9a288",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL chat.save_user_message(\n    {{ $('Telegram Trigger').item.json.message.from.id }},\n    '{{ $('Telegram Trigger').item.json.message.from.first_name }}',\n    '{{ $('Telegram Trigger').item.json.message.from.last_name }}',\n    '{{ $('Telegram Trigger').item.json.message.from.username }}',\n    '{{ $('Telegram Trigger').item.json.message.from.language_code }}',\n    {{ $('Telegram Trigger').item.json.message.chat.id }},\n    {{ $('Telegram Trigger').item.json.message.message_id }},\n    '{{ $('Date & Time').item.json.currentDate }}',\n    '{{ $('Telegram Trigger').item.json.message.text }}',\n    '{{ JSON.stringify($('Telegram Trigger').item.json.message) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1104,
        -256
      ],
      "id": "7c541e2b-6c70-48fc-becd-e728cfd3ff9f",
      "name": "Call chat.save_user_message",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL chat.save_bot_response(\n    {{ $('Telegram Trigger').item.json.message.from.id }},\n    '{{ $json.result.chat.first_name }}',\n    '{{ $json.result.chat.last_name }}',\n    '{{ $json.result.chat.username }}',\n    {{ $json.result.from.id }},\n    '{{ $json.result.from.first_name }}',\n    NULL,\n    '{{ $json.result.from.username }}',\n    {{ $('Telegram Trigger').item.json.message.chat.id }},\n    {{ $json.result.message_id }},\n    {{ $('Telegram Trigger').item.json.message.message_id }},\n    '{{ $('Date & Time').item.json.currentDate }}',\n    '{{ $json.result.text }}',\n    '{{ JSON.stringify($json.result) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        -256
      ],
      "id": "7c9a5941-d61e-482a-baff-d404863177de",
      "name": "Call cha.save_bot_response",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "filesUpload",
        "fields": "=fecha_subida: {{ $('Date & Time').item.json.currentDate }}, tipo: 'jpg' ",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        0,
        320
      ],
      "id": "6cc3dac8-eb16-4cf4-9cd6-a78ba97d93bf",
      "name": "guardarComprobante",
      "credentials": {
        "mongoDb": {
          "id": "tiYYV2a8yuCMvT8p",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatAction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatAction": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Unir datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing": {
      "main": [
        [
          {
            "node": "foto con mayor resolucion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foto con mayor resolucion": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "guardarComprobante",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Send a text after image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Call chat.save_user_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply /start": {
      "main": [
        [
          {
            "node": "Call cha.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Call cha.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text after image": {
      "main": [
        [
          {
            "node": "Call cha.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call chat.save_user_message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardarComprobante": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfe319ce-ce83-4e02-8525-38f2f9a93839",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36c64b13bbb7748bd9d1fa29e9a2d15f3b8329608b51a4e86db824070316d3e"
  },
  "id": "KwRjwUvUOpA0mEb7",
  "tags": []
}