Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2432,
        -368
      ],
      "id": "1391b631-42c8-4e6e-b3cb-3b84b744e054",
      "name": "Telegram Trigger",
      "webhookId": "473a8821-8619-4a1f-8e1b-c25dbc06527e",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## /start || hola",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -656
      ],
      "typeVersion": 1,
      "id": "3811707e-c2a8-4738-ae3a-65269561e909",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de0cb4cc-27a8-4ea0-88e9-e53bde904785"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start-command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d71f64-d0ab-47e1-8f07-145d9af2996e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hola"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "953b18e8-e68c-4d91-b131-ea94ee913223",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfdfc08f-c1b7-428f-a5df-0e47b99b3be6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1760,
        -400
      ],
      "id": "eec519f7-d3b5-4fc4-b178-c4ea279f82c1",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Hola, soy BioCanastoChatBot 🧺🌱!\nPide frutas y verduras frescas 🍎🥦, paga seguro y recibe hoy en casa. Usamos fundas y cajas biodegradables para cuidar el planeta 🌎💚.\n\nCómo funciona\n\nPregunta disponibilidad: “¿Qué frutas y verduras tienen hoy?”\n\nElige cantidades: por kg, 1/2 kg o por unidades.\n\nConfirma tu pedido y dinos a qué banco vas a transferir:\nPichincha, Guayaquil, Pacífico o Cooperativa JEP.\n\nNota: no se aceptan otros bancos.\n\nSube el comprobante (captura) con el número de transacción.\n\nEjemplo rápido\n\n“Quiero 2 kg de manzana, 1/2 kg de espinaca y 6 plátanos.”\n\n“Transferiré a Banco Pichincha.”\n\n“Adjunto comprobante: TRX-123456.”\n\n¿List@ para comenzar? Escribe “Ver disponibles” y armamos tu canasta 🍌🥬🧺.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        -608
      ],
      "id": "3dd77b55-f377-428c-bafe-1153886e142e",
      "name": "reply /start",
      "webhookId": "65b431c4-1ab6-442e-aee8-2bca6e55008c",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat Action",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        -432
      ],
      "typeVersion": 1,
      "id": "09072ef0-427b-4554-b4b5-781df7e66152",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1536,
        -368
      ],
      "id": "492014c9-13d9-471f-ae4d-4ba53e40f6f8",
      "name": "chatAction",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"type\": \"message\",\n  \"ai\": \"\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        -368
      ],
      "id": "4f1dde92-4072-409e-b986-4038b5be847f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  text: $input.first().json.text,\n  type: $input.first().json.type,\n  ai: $input.first().json.ai\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -368
      ],
      "id": "79909251-d3d6-43d6-ad0e-a098973126ae",
      "name": "Unir datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Actúa como vendedor de frutas y verduras frescas para delivery. Tono cercano, respuestas breves, sin inventar datos. Tareas: mostrar catálogo, recomendar cantidades, armar carrito, calcular total, pedir dirección/horario/pago, confirmar pedido. Enfatiza empaques biodegradables y cero plásticos. Maneja faltantes con sustitutos. Moneda {{CURRENCY}}.\nUtiliza la herramienta sendMessageToClient para responder todos los mensajes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -864,
        -368
      ],
      "id": "37603261-25ff-4228-9d24-1045009d9369",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        -160
      ],
      "id": "fc37b254-7017-4262-b34f-6146f06e0193",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -784,
        -160
      ],
      "id": "39d3b0d4-6021-40e7-b6cf-dea898126c87",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        -368
      ],
      "id": "d6175132-41cb-4926-8dd7-0aa23dbfe9c0",
      "name": "Send a text message",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envio de Imagen \n",
        "height": 272,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        16
      ],
      "typeVersion": 1,
      "id": "8d9be290-ddd4-48bc-8a88-b5766980fa15",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1536,
        64
      ],
      "id": "bf7bdfd4-5e67-4db6-ba0f-e7340b35679e",
      "name": "writing",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Telegram Trigger').first().json.message.photo[3] || $('Telegram Trigger').first().json.message.photo[2] || $('Telegram Trigger').first().json.message.photo[1] || $('Telegram Trigger').first().json.message.photo[0]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        64
      ],
      "id": "0c48b59b-23e6-46ea-867a-429e775d2fe8",
      "name": "foto con mayor resolucion"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        64
      ],
      "id": "e04bdedf-0756-4007-96f1-c18cca698e01",
      "name": "Get a file",
      "webhookId": "fac3f1d1-bcc5-4380-88a1-c442ba26d223",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "={{ $('Telegram Trigger').item.json.message.caption || 'Que hay en la imagen?' }}\n\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -816,
        64
      ],
      "id": "68fa5617-b413-41f8-80fa-24bad4bab231",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        64
      ],
      "id": "96a07cae-77be-43b6-a2a8-2b3b082d41fe",
      "name": "Send a text after image",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -2208,
        -368
      ],
      "id": "b5e956aa-b0e2-4c53-be23-9c922db7e589",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL chat.save_user_message(\n    {{ $('Telegram Trigger').item.json.message.from.id }},\n    '{{ $('Telegram Trigger').item.json.message.from.first_name }}',\n    '{{ $('Telegram Trigger').item.json.message.from.last_name }}',\n    '{{ $('Telegram Trigger').item.json.message.from.username }}',\n    '{{ $('Telegram Trigger').item.json.message.from.language_code }}',\n    {{ $('Telegram Trigger').item.json.message.chat.id }},\n    {{ $('Telegram Trigger').item.json.message.message_id }},\n    '{{ $('Date & Time').item.json.currentDate }}',\n    '{{ $('Telegram Trigger').item.json.message.text }}',\n    '{{ JSON.stringify($('Telegram Trigger').item.json.message) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1984,
        -368
      ],
      "id": "4d550644-761a-40cf-bc76-ef67b542ac21",
      "name": "Call chat.save_user_message",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "filesUpload",
        "fields": "fecha_subida, nombre, tamano, tipo",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -544,
        352
      ],
      "id": "908eaca9-5da2-4492-81fd-bfd794132023",
      "name": "guardarComprobante",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "tiYYV2a8yuCMvT8p",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78b47e13-eb38-4dff-9e75-ad2deb99d42e",
              "name": "fecha_subida",
              "value": "={{ $('Date & Time').item.json.currentDate }}",
              "type": "string"
            },
            {
              "id": "ba82b18a-ad23-4ad9-b6db-80eb07760321",
              "name": "nombre",
              "value": "={{ 'message-id-' + $('Telegram Trigger').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "93ed637a-725c-4792-a347-a49beed08052",
              "name": "tamano",
              "value": "={{ +($json.result?.file_size ?? 0) }}",
              "type": "string"
            },
            {
              "id": "b9490b63-19be-4a01-8c9b-8ec270a320ee",
              "name": "tipo",
              "value": "jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        352
      ],
      "id": "6a84f633-4983-4b53-9bed-72bc4b51d1d7",
      "name": "editarCamposImagen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL chat.save_bot_response(\n    {{ $('Telegram Trigger').item.json.message.from.id }},\n    '{{ $json.result.chat.first_name }}',\n    '{{ $json.result.chat.last_name }}',\n    '{{ $json.result.chat.username }}',\n    {{ $json.result.from.id }},\n    '{{ $json.result.from.first_name }}',\n    NULL,\n    '{{ $json.result.from.username }}',\n    {{ $('Telegram Trigger').item.json.message.chat.id }},\n    {{ $json.result.message_id }},\n    {{ $('Telegram Trigger').item.json.message.message_id }},\n    '{{ $('Date & Time').item.json.currentDate }}',\n    '{{ $json.result.text }}',\n    '{{ JSON.stringify($json.result) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        -368
      ],
      "id": "0c1f700b-2be8-48b6-86a3-068df9aea778",
      "name": "Call chat.save_bot_response",
      "credentials": {
        "postgres": {
          "id": "gJnhaqeZETxFLnvw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatAction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatAction": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Unir datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing": {
      "main": [
        [
          {
            "node": "foto con mayor resolucion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foto con mayor resolucion": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          },
          {
            "node": "editarCamposImagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Send a text after image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Call chat.save_user_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply /start": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text after image": {
      "main": [
        [
          {
            "node": "Call chat.save_bot_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call chat.save_user_message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "editarCamposImagen": {
      "main": [
        [
          {
            "node": "guardarComprobante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b837f62a-ba43-4696-9335-3e65838a0d61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36c64b13bbb7748bd9d1fa29e9a2d15f3b8329608b51a4e86db824070316d3e"
  },
  "id": "KwRjwUvUOpA0mEb7",
  "tags": []
}