TelegramBot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -232
      ],
      "id": "82c30976-7354-49a4-ad76-140d9cf7829a",
      "name": "Telegram Trigger",
      "webhookId": "473a8821-8619-4a1f-8e1b-c25dbc06527e",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## /start || hola",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        936,
        -528
      ],
      "typeVersion": 1,
      "id": "f4e27159-1c28-4e2a-a2ef-d408e7ef0716",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "renameOutput": true,
              "outputKey": "start-command",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.text || '').trim() }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de0cb4cc-27a8-4ea0-88e9-e53bde904785"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "renameOutput": true,
              "outputKey": "hola",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d71f64-d0ab-47e1-8f07-145d9af2996e",
                    "leftValue": "={{ ($json.text || '').trim().toLowerCase() }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "953b18e8-e68c-4d91-b131-ea94ee913223",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfdfc08f-c1b7-428f-a5df-0e47b99b3be6",
                    "leftValue": "={{ $json.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -208,
        -264
      ],
      "id": "abd3729d-adbc-42cb-a97b-6c2a592bd3da",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "¡Hola, soy BioCanastoChatBot 🧺🌱!\nPide frutas y verduras frescas 🍎🥦, paga seguro y recibe hoy en casa. Usamos fundas y cajas biodegradables para cuidar el planeta 🌎💚.\n\nCómo funciona\n\nPregunta disponibilidad: “¿Qué frutas y verduras tienen hoy?”\n\nElige cantidades: por kg, 1/2 kg o por unidades.\n\nConfirma tu pedido y dinos a qué banco vas a transferir:\nPichincha, Guayaquil, Pacífico o Cooperativa JEP.\n\nNota: no se aceptan otros bancos.\n\nSube el comprobante (captura) con el número de transacción.\n\nEjemplo rápido\n\n“Quiero 2 kg de manzana, 1/2 kg de espinaca y 6 plátanos.”\n\n“Transferiré a Banco Pichincha.”\n\n“Adjunto comprobante: TRX-123456.”\n\n¿List@ para comenzar? Escribe “Ver disponibles” y armamos tu canasta 🍌🥬🧺.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -480
      ],
      "id": "24a3394e-8902-40b1-baf8-49b6e1f7e75c",
      "name": "reply /start",
      "webhookId": "65b431c4-1ab6-442e-aee8-2bca6e55008c",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat Action",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -24,
        -312
      ],
      "typeVersion": 1,
      "id": "6c48206e-8de1-4eec-aee5-d41b299f0589",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -232
      ],
      "id": "8f3b9c7e-1517-41d5-9dae-c9972ad85aa4",
      "name": "chatAction",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"type\": \"message\",\n  \"ai\": \"\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -232
      ],
      "id": "53cc8982-10c9-4e82-b279-15033afd6b2b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  text: $input.first().json.text,\n  type: $input.first().json.type,\n  ai: $input.first().json.ai\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -232
      ],
      "id": "dfda4421-03a9-4aec-b727-a4ccafe86d43",
      "name": "Unir datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Actúa como vendedor de frutas y verduras frescas para delivery. Tono cercano, respuestas breves, sin inventar datos. Tareas: mostrar catálogo, recomendar cantidades, armar carrito, calcular total, pedir dirección/horario/pago, confirmar pedido. Enfatiza empaques biodegradables y cero plásticos. Maneja faltantes con sustitutos. Moneda {{CURRENCY}}.\nUtiliza la herramienta sendMessageToClient para responder todos los mensajes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        -336
      ],
      "id": "cc5cfc72-1f86-44e5-832c-8e476adc8861",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        696,
        -112
      ],
      "id": "63df3f83-69f5-485e-b682-6fa9cf2463f8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        824,
        -112
      ],
      "id": "0a51afda-e2ab-4f69-ad25-61397d526b73",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -232
      ],
      "id": "e6291300-af48-4801-ab4c-c67c64a4085f",
      "name": "Send a text message",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envio de Imagen \n",
        "height": 272,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -48
      ],
      "typeVersion": 1,
      "id": "7665b57e-5463-40e5-b84e-ba8bef1904db",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        64
      ],
      "id": "de1b9a4f-6718-4d33-a04b-7f14788e777b",
      "name": "writing",
      "webhookId": "f70c97b8-cd1b-435c-a758-95942c3f6fad",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Telegram Trigger').first().json.message.photo[3] || $('Telegram Trigger').first().json.message.photo[2] || $('Telegram Trigger').first().json.message.photo[1] || $('Telegram Trigger').first().json.message.photo[0]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        64
      ],
      "id": "d9c54c71-4e78-416e-91e1-58a1b7fc9d35",
      "name": "foto con mayor resolucion"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        64
      ],
      "id": "2719564d-55b4-43a9-80a0-df837efdde06",
      "name": "Get a file",
      "webhookId": "fac3f1d1-bcc5-4380-88a1-c442ba26d223",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "={{ $('Telegram Trigger').item.json.message.caption || 'Que hay en la imagen?' }}\n\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        752,
        64
      ],
      "id": "240f6c8d-f56a-4513-b4fd-81af68e5d12f",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        64
      ],
      "id": "48e1aeaf-38db-47df-82f9-58caec659905",
      "name": "Send a text after image",
      "webhookId": "7a931c99-91cf-417b-8816-a8524208f0a8",
      "credentials": {
        "telegramApi": {
          "id": "BfqQ4o55g82POQgF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -432,
        -232
      ],
      "id": "03bf49e8-d5a8-44f8-aea5-9683d3516a14",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Actua como coordinador encargado de persistir cada interaccion de Telegram en la base de datos PostgreSQL biocanasto_ec.\n\nSigue estas instrucciones en cada ejecucion:\n1) Inserta o actualiza el chat en chat.telegram_chats usando INSERT con ON CONFLICT (chat_id) DO UPDATE para mantener type, title, first_name, last_name y username.\n2) Inserta o actualiza al remitente en chat.telegram_users poniendo is_bot segun Telegram y actualiza updated_at = NOW(); utiliza ON CONFLICT (telegram_user_id) DO UPDATE SET first_name = EXCLUDED.first_name, last_name = EXCLUDED.last_name, username = EXCLUDED.username, language_code = EXCLUDED.language_code, updated_at = NOW().\n3) Guarda siempre el update completo en chat.telegram_incoming_updates con update_id, message_id, chat_id, from_user_id, message_date (TO_TIMESTAMP(fecha_segundos) AT TIME ZONE 'UTC'), message_text y raw_payload::jsonb.\n4) Si el mensaje proviene de un humano (from.is_bot = false) inserta en chat.telegram_incoming_messages los campos chat_id, message_id, from_user_id, message_date, message_text y raw_message::jsonb usando ON CONFLICT DO NOTHING.\n5) Si el mensaje lo enviamos nosotros (result.from.is_bot = true) asegura que el bot quede registrado una sola vez y guarda cada respuesta en chat.telegram_outgoing_messages con chat_id, message_id, bot_id, reply_to, message_date, message_text y raw_payload::jsonb usando ON CONFLICT DO NOTHING.\n\nDatos disponibles:\n- El update original esta en $('Telegram Trigger').item.json.\n- La respuesta del envio actual esta en item.json.result devuelta por la API de Telegram.\n\nEjecuta las sentencias necesarias y devuelve un breve resumen indicando que registros se persistieron.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1264,
        -232
      ],
      "id": "9e5893b0-c986-412e-893f-d00abaa15a47",
      "name": "AI Agent Save Chat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1336,
        -8
      ],
      "id": "137009f5-970d-4bd7-b5c5-c60ce7630f03",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mJwjRiZu5Di4U0PT",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reply /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatAction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatAction": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Unir datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing": {
      "main": [
        [
          {
            "node": "foto con mayor resolucion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foto con mayor resolucion": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Send a text after image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply /start": {
      "main": [
        [
          {
            "node": "AI Agent Save Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "AI Agent Save Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text after image": {
      "main": [
        [
          {
            "node": "AI Agent Save Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Save Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e141e95-d523-475e-8e0b-62f8984f1cf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36c64b13bbb7748bd9d1fa29e9a2d15f3b8329608b51a4e86db824070316d3e"
  },
  "id": "KwRjwUvUOpA0mEb7",
  "tags": []
}
